<launch>
  <arg name="config_dir" default="$(find um980_driver)/config/rtk_nav" />
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="base_global_planner" default="um980_driver/RouteGlobalPlanner" />
  <arg name="waypoints_file" default="$(find um980_driver)/waypoints/inspection_waypoints.yaml" />

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(arg config_dir)/costmap_common.yaml" command="load" />
    <rosparam file="$(arg config_dir)/global_costmap.yaml" command="load" />
    <rosparam file="$(arg config_dir)/local_costmap.yaml" command="load" />
    <rosparam file="$(arg config_dir)/move_base.yaml" command="load" />
    <rosparam file="$(arg config_dir)/dwa_local_planner.yaml" command="load" />
    <param name="base_global_planner" value="$(arg base_global_planner)" />
    <param name="RouteGlobalPlanner/waypoints_file" value="$(arg waypoints_file)" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
  </node>
</launch>
